<!-- CONTENT section -->
<div class="container">	
  <!-- title -->
  <div class="title-box">
    <h1 class="text-center text-uppercase title-under">{{ 'cart.general.title' | t }}</h1>
  </div>
  <!-- /title -->
  <form action="/cart" method="post" novalidate>
    <div class="row">
      <section class="col-md-8 col-lg-8">
        <!-- Shopping cart table -->
        <div class="container-widget">
          <table class="shopping-cart-table">
            <thead>
              <tr>
                <th>{{ 'cart.label.product' | t }}</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>{{ 'cart.label.price' | t }}</th>
                <th>{{ 'cart.label.quantity' | t }}</th>
                <th>{{ 'cart.label.total' | t }}</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>

              {% for item in cart.items %}
              {% assign inv_man = item.variant.inventory_management %}{% assign inv_qua = item.variant.inventory_quantity %}{% unless inv_man %}{% assign inv_qua = 100000 %}{% endunless %}{% if item.variant.available and inv_qua == 0 %}{% assign inv_qua = 100000 %}{% endif %}
              <tr>
                <td>
                  <div class="shopping-cart-table__product-image">
                    <a href="{{ item.url }}">
                      <img class="img-responsive" src="{{ item | img_url: 'medium' }}" alt="{{ item.alt | escape }}"/>
                    </a>
                  </div>
                </td>
                <td>
                  <h5 class="shopping-cart-table__product-name text-left text-uppercase">
                    <a href="{{ item.url }}">{{ item.title }}</a>
                  </h5>
                  <ul class="shopping-cart-table__list-parameters">
                    <li class="visible-xs">
                      <span>{{ 'cart.label.price' | t }}</span>
                      <span class="price-mobile">{{item.price | money}}</span>
                    </li>
                    <li class="visible-xs">
                      <span>{{ 'cart.label.quantity' | t }}</span>
                      <span class="shopping-cart-table__input">
                        <input type="text" name="updates[]" id="updates_{{ item.id }}" class="form-control input-mobile" value="{{ item.quantity }}" min="1" max="{{ inv_qua }}">
                      </span>
                    </li>
                    <li class="visible-xs">
                      <span>{{ 'cart.general.subtotal' | t }}</span>
                      <span class="price-mobile">{{item.line_price | money}}</span>
                    </li>
                  </ul>																				
                </td>
                <td>
                  <a class="shopping-cart-table__delete icon icon-delete visible-xs" href="/cart/change?line={{ forloop.index }}&quantity=0"></a>
                </td>
                <td>
                  <div class="shopping-cart-table__product-price unit-price">
                    {{item.price | money}}
                  </div>
                </td>
                <td>
                  <div class="shopping-cart-table__input">
                    <input type="number" name="updates[]" id="updates_{{ item.id }}" class="form-control input-desktop" value="{{ item.quantity }}" min="1" max="{{ inv_qua }}" title="{% if inv_qua < 100000 %}{{inv_qua}} {{ 'products.product.in_stock' | t }}{% else %}{{ 'products.product.many_in_stock' | t }}{% endif %}">
                  </div>								
                </td>
                <td>
                  <div class="shopping-cart-table__product-price subtotal">
                    {{ item.line_price | money }}
                  </div>
                </td>
                <td>
                  <a class="shopping-cart-table__delete icon icon-clear" href="/cart/change?line={{ forloop.index }}&quantity=0"></a>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
        <!-- /Shopping cart table -->

        <div class="divider divider--xs"></div>
        <div class="clearfix shopping-cart-btns">
          <button type="submit" class="btn btn--ys btn--light pull-right" id="update-cart" name="update"><span class="icon icon-autorenew"></span>{{ 'cart.general.update' | t }}</button>
          <div class="divider divider--xs visible-xs"></div>
          <a class="btn btn--ys btn--light" href="/cart/clear"><span class="icon icon-delete"></span>{{ 'cart.general.clear_cart' | t }}</a>
          <div class="divider divider--xs visible-xs"></div>
          <a class="btn btn--ys btn--light pull-left btn-right" href="/"><span class="icon icon-keyboard_arrow_left"></span>{{ 'cart.general.continue_shopping' | t }}</a>
          <div class="divider divider--xs visible-xs"></div>   	
        </div>


        <div class="divider visible-sm visible-xs"></div>
      </section>
      <aside class="col-md-4 col-lg-4 shopping_cart-aside">

        {% if settings.shipping_calculator %}
        <div class="collapse-block open card card--padding fill-bg">
          {% include 'shipping-calculator-design2' %}
        </div>
        <div class="divider--md"></div>
        {% endif %}

        <!-- DISCOUNT CODES -->
        <div class="collapse-block card card--padding fill-bg">
          <h4 class="collapse-block__title">{{ 'cart.label.note' | t }}</h4>
          <div class="collapse-block__content">
            <p>{{ 'cart.label.note_text' | t }}</p>
            <textarea id="note" name="note" class="form-control" rows="4">{{ cart.note }}</textarea>
          </div>
        </div>				
        <!-- /DISCOUNT CODES -->

        <div class="divider--md"></div>
        <div class="card card--padding fill-bg">
          <table class="table-total">
            <tbody>
              <tr id="subtotal">
                <th class="text-left">{{ 'cart.general.subtotal' | t }}</th>
                <td class="text-right">{{ cart.total_price | money }}</td>
              </tr>
              <tr id="tax" style="display:none">
                <th class="text-left">{{ 'cart.general.shipping_total' | t }}</th>
                <td class="text-right">{{ 0 | money }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr id="grandtotal">
                <th>{{ 'cart.general.total' | t }}</th>
                <td>{{ cart.total_price | money }}</td>
              </tr>
            </tfoot>
          </table>
          <button type="submit" name="checkout" class="btn btn--ys btn--full btn--xl">{{ 'cart.general.checkout' | t }}<span class="icon icon--flippedX icon-reply"></span></button>
        </div>

      </aside>
    </div>
  </form>
</div>