	<ul class="nav nav-tabs {% case settings.product_tabs_work %}{% when 'design2' %}nav-tabs--ys{% when 'design3' %}nav-tabs--ys-center1 text-center{% else %}nav-tabs--ys1{% endcase %}" role="tablist">
      {% assign active = true %}
      {% for i in (1..5) %}
        {% assign show_product_tab	= "show_product_tab_" | append: forloop.index %}
        {% assign product_tab_title	= "product_tab_title_" | append: forloop.index %}
        {% if settings[show_product_tab] %}
          <li {% if active %}class="active" {% assign active = false %} {% endif %}>
            <a href="#Tab{{ forloop.index }}" role="tab" data-toggle="tab" class="text-uppercase">{{ settings[product_tab_title] }}</a>
          </li>
        {% endif %}
        {% if product.description contains '[tabs]' and forloop.index == 1 %}
          {% capture tabs %}{% include 'get-content-with-key' content: product.description key: '[tabs]' %}{% endcapture %}
          {% assign tabs = tabs | strip | split: '[/tab]' %}
          {% if tabs.size > 0 %}{% for _tab in tabs %}
            <li {% if active %}class="active" {% assign active = false %} {% endif %}>
              <a href="#productTab{{ forloop.index }}" role="tab" data-toggle="tab" class="text-uppercase">{% include 'get-product_custom_tab_content' content: _tab key: 'name' %}</a>
            </li>
          {% endfor %}{% endif %}
        {% endif %}
      {% endfor %}
    </ul>
	{% assign active = true %}
    <div class="tab-content tab-content--ys">
      {% for i in (1..5) %}
        {% capture current_class %}{% cycle 'product-description', 'html1', 'html2', 'tags', 'product-reviews' %}{% endcapture %}
        {% assign show_product_tab	= "show_product_tab_" | append: forloop.index %}
        {% assign product_tab_title	= "product_tab_title_" | append: forloop.index %}
        {% assign product_tab_desc	= "product_tab_desc_" | append: forloop.index %}
        {% if settings[show_product_tab] %}
          <div role="tabpanel" class="tab-pane {% if active %}active{% assign active = false %}{% endif %}" id="Tab{{ forloop.index }}">
            {% comment %}tabs pages{% endcomment %}
            {% case current_class %}
              {% when 'product-description' %}
                {% assign content = product.description | remove: "[disable-icon-new]" %}
	            {% assign content = content | remove: "[item-gallery]" %}
                {% assign content = content | remove: "[disable-icon-sale]" %}
                {% assign content = content | remove: "[icon-new-always]" %}
                {% if content contains '[countdown]' %}
                    {% assign str = content | split: '[/countdown]' | first %}
            		{% assign str = str | split: '[countdown]' | last %}
            		{% assign str = '[countdown]' | append: str | append: '[/countdown]' %}
            		{% assign content = content | remove: str %}
                {% endif %}
                {% if content contains '[video]' %}
                    {% assign str = content | split: '[/video]' | first %}
            		{% assign str = str | split: '[video]' | last %}
            		{% assign str = '[video]' | append: str | append: '[/video]' %}
            		{% assign content = content | remove: str %}
                {% endif %}
                {% if content contains '[smallDescription]' %}
                    {% assign str = content | split: '[/smallDescription]' | first %}
            		{% assign str = str | split: '[smallDescription]' | last %}
            		{% assign str = '[smallDescription]' | append: str | append: '[/smallDescription]' %}
            		{% assign content = content | remove: str %}
                {% endif %}
                {% if content contains '[custom_html]' %}
                    {% assign str = content | split: '[/custom_html]' | first %}
            		{% assign str = str | split: '[custom_html]' | last %}
            		{% assign str = '[custom_html]' | append: str | append: '[/custom_html]' %}
            		{% assign content = content | remove: str %}
                {% endif %}
                {% if content contains '[tabs]' %}
                    {% assign str = content | split: '[/tabs]' | first %}
            		{% assign str = str | split: '[tabs]' | last %}
            		{% assign str = '[tabs]' | append: str | append: '[/tabs]' %}
            		{% assign content = content | remove: str %}
                {% endif %}
            	{{ content }}
              {% when 'html1' %}
            	{{ settings[product_tab_desc] }}
              {% when 'html2' %}
            	{{ settings[product_tab_desc] }}
              {% when 'tags' %}
                {% assign collection = collections.all %}
                {% assign custom_url = '/collections/all/' %}
                {% assign disableTitle = true %}
                {% include 'product-filter-tags' %}
              {% when 'product-reviews' %}
            	<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
              {% else %}
            {% endcase %}
          </div>
        {% endif %}
      {% endfor %}
      {% if product.description contains '[tabs]' %}
        {% capture tabs %}{% include 'get-content-with-key' content: product.description key: '[tabs]' %}{% endcapture %}
        {% assign tabs = tabs | strip | split: '[/tab]' %}
        {% if tabs.size > 0 %}{% for _tab in tabs %}
          <div role="tabpanel" class="tab-pane {% if active %}active{% assign active = false %}{% endif %}" id="productTab{{ forloop.index }}">
            {% include 'get-product_custom_tab_content' content: _tab %}
          </div>
        {% endfor %}{% endif %}
      {% endif %}
    </div>