{% assign limit = section.settings.grid | plus:0 %}
{% if limit > section.blocks.size %}{% assign limit = section.blocks.size %}{% endif %}
{% assign even = limit | round: 1 | divided_by:2 | round %}
{% assign odd = limit | round: 1 | divided_by:2 | floor %}
{% if even > odd %}{% assign half = true %}{% else %}{% assign half = false %}{% endif %}
<!--=== box-baners ===-->
<section class="{% unless section.settings.hide_top_indent %}content {% endunless %}container-fluid box-baners resize-js-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="resize-section">
  <div class="row">
    {% if section.blocks.size > 0 %}
    {% for block in section.blocks limit: limit %}
    <!-- col-left -->
    <div class="{% if half and forloop.last %}col-md-12 col-sm-12{% else %}col-md-6 col-sm-6{% endif %} col-xs-12">
      <!-- banner -->
      <a href="{{ block.settings.link }}" class="banner{% if half and forloop.last %} banner-bg image-bg{% endif %} zoom-in">
        <span class="figure">
          {% if block.settings.image != blank %}
            {% if half and forloop.last %}<img src="{{ block.settings.image | img_url: '2048x2048' }}" alt="{{ block.settings.image.alt }}">
            {% else %}<img src="{{ block.settings.image | img_url: '1024x1024' }}" alt="{{ block.settings.image.alt }}">
            {% endif %}
          {% else %}
            {% if half and forloop.last %}<span class="editor-image" data-width="2048" data-height="570" data-position="top"></span>
            {% else %}<span class="editor-image" data-width="1024" data-height="428" data-position="top"></span>
            {% endif %}
          {% endif %}
          <span class="figcaption{% if block.settings.position == "left" %} text-left{% endif %}{% if block.settings.position == "right" %} text-right{% endif %}">
            <span class="block-table">
              <span class="block-table-cell">
                {% if block.settings.title_text != '' %}<span class="block {{ block.settings.title_size }} {{ block.settings.title_weight }} text1-{{ forloop.index }}">{{ block.settings.title_text }}</span>{% endif %}
                {% if block.settings.content_text != '' %}<span class="block {{ block.settings.content_size }} {{ block.settings.content_weight }} text2-{{ forloop.index }} {{ block.settings.content_indent }}">{{ block.settings.content_text }}</span>{% endif %}
                {% case block.settings.button_design %}
                {% when "design1" %}
                	<em class="link-btn-20 main-font btn-color-{{ forloop.index }}">{{ section.settings.button_title }} <span class="icon icon-navigate_next"></span></em>
                {% when "design2" %}
                	<span class="btn btn--border btn--xl btn-color-{{ forloop.index }}">{{ section.settings.button_title }}</span>
                {% when "design3" %}
                	<span class="btn top-indent-sm1 btn--ys btn--l btn-color-{{ forloop.index }}">{{ section.settings.button_title }}</span>
                {% else %}{% endcase %}
              </span>
            </span>
          </span>
        </span>
      </a>
      <!-- /banner -->
    </div>
    {% endfor %}
    {% else %}
    <span style="display: flex; justify-content: center;">This section doesn’t currently include any content. Add content to this section using the sidebar.</span>
    {% endif %}
  </div>
</section>

<style>
  .resize-js-{{ section.id }} .col-sm-6:nth-child(odd), .resize-js-{{ section.id }} .col-md-6:nth-child(odd) {
      clear: both;
  }
  
  {% for block in section.blocks limit: limit %}
  .resize-js-{{ section.id }} .text1-{{ forloop.index }} {
  	color: {{ block.settings.bannercolor_title1 }};
  }
  .resize-js-{{ section.id }} .text2-{{ forloop.index }} {
  	color: {{ block.settings.bannercolor_title2 }};
  }
  
  .resize-js-{{ section.id }} .btn-color-{{ forloop.index }} {
    color: {{ block.settings.bannercolor_buttontext }};
  }
  .resize-js-{{ section.id }} .btn-color-{{ forloop.index }} span {
    color: {{ block.settings.bannercolor_buttonbg }};
  }
  .resize-js-{{ section.id }} .btn-color-{{ forloop.index }}:hover {
    color: {{ block.settings.bannercolor_buttontexthover }} !important;
  }
  .resize-js-{{ section.id }} .btn-color-{{ forloop.index }}:hover span {
    color: {{ block.settings.bannercolor_buttonbghover }} !important;
  }
  .resize-js-{{ section.id }} .btn--border.btn-color-{{ forloop.index }} {
  	border-color: {{ block.settings.bannercolor_buttonbg }};
  }
  .resize-js-{{ section.id }} .btn.btn-color-{{ forloop.index }}:not(.btn--border) {
  	background: {{ block.settings.bannercolor_buttonbg }};
  }
  .resize-js-{{ section.id }} .btn:hover.btn-color-{{ forloop.index }}:hover {
  	border-color: {{ block.settings.bannercolor_buttonbghover }};
    background: {{ block.settings.bannercolor_buttonbghover }};
  }
  {% endfor %}
</style>

{% schema %}
{
  "name": "Banners Block",
  "class": "index-section",
  "max_blocks": 20,
  "settings": [
    {
      "type": "checkbox",
      "id": "hide_top_indent",
      "label": "Hide Top Indent",
      "default": true
    },
    {
      "type": "select",
      "id": "grid",
      "label": "Quick Install. Show Items:",
      "options": [
        { "value": "1", "label": "1 Banner" },
        { "value": "2", "label": "2 Banners" },
        { "value": "4", "label": "4 Banners" },
        { "value": "20", "label": "20 Banners" }
	  ],
      "default": "20"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "Button Name",
      "default": "Shop now!"
    }
  ],
  "blocks": [
    {
      "type": "item-block",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
        {
          "type": "radio",
          "id": "position",
          "label": "Info Position",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
			{ "value": "right", "label": "Right" }
          ],
          "default": "left"
        },
        {
          "type": "radio",
          "id": "button_design",
          "label": "Select Button Design",
          "options": [
			{ "value": "disable", "label": "Hide Button" },
            { "value": "design1", "label": "Design 1" },
            { "value": "design2", "label": "Design 2" },
			{ "value": "design3", "label": "Design 3" }
          ],
          "default": "design1"
        },
        {
          "type": "header",
          "content": "Title"
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "Title Size",
          "options": [
            { "value": "font-size88", "label": "88px" },
            { "value": "font-size82", "label": "82px" },
			{ "value": "font-size52", "label": "52px" },
            { "value": "font-size26", "label": "26px" }
          ],
          "default": "font-size82",
		  "info": "Screen size >1770px"
        },
        {
          "type": "select",
          "id": "title_weight",
          "label": "Title Weight",
          "options": [
            { "value": "font-bold", "label": "Bold" },
            { "value": "font-medium", "label": "Medium" },
            { "value": "font-normal", "label": "Normal" },
            { "value": "font-light", "label": "Light" }
          ],
          "default": "font-medium"
        },
        {
          "type": "textarea",
          "id": "title_text",
          "label": "Banner Title",
          "default": "Banner Title"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "content_size",
          "label": "Content Size",
          "options": [
            { "value": "font-size82", "label": "82px" },
            { "value": "font-size38", "label": "38px" },
            { "value": "font-size26", "label": "26px" }
          ],
          "default": "font-size26",
		  "info": "Screen size >1770px"
        },
        {
          "type": "select",
          "id": "content_weight",
          "label": "Content Weight",
          "options": [
            { "value": "font-bold", "label": "Bold" },
            { "value": "font-medium", "label": "Medium" },
            { "value": "font-normal", "label": "Normal" },
            { "value": "font-light", "label": "Light" }
          ],
          "default": "font-normal"
        },
        {
          "type": "radio",
          "id": "content_indent",
          "label": "Content Top Indent",
          "options": [
			{ "value": "empty-style", "label": "Default" },
            { "value": "top-indent-sm1", "label": "Indent 2" }
          ],
          "default": "empty-style"
        },
        {
          "type": "textarea",
          "id": "content_text",
          "label": "Banner Content",
          "default": "Banner Content"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "bannercolor_title1",
          "label": "Text 1 Color",
          "default": "#333333"
        },
        {
          "type": "color",
          "id": "bannercolor_title2",
          "label": "Text 2 Color",
          "default": "#333333"
        },
        {
          "type": "color",
          "id": "bannercolor_buttontext",
          "label": "Button Text",
          "default": "#333333"
        },
        {
          "type": "color",
          "id": "bannercolor_buttontexthover",
          "label": "Button Text Active",
          "default": "#1fc0a0"
        },
        {
          "type": "color",
          "id": "bannercolor_buttonbg",
          "label": "Button Background(Arrow)",
          "default": "#1fc0a0"
        },
        {
          "type": "color",
          "id": "bannercolor_buttonbghover",
          "label": "Button Background(Arrow) Active",
          "default": "#f5f5f5"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banners Block",
      "category": "Banner",
      "blocks": [
		{
          "type": "item-block",
          "settings": {
            "title_weight": "font-bold",
            "title_text": "15% <span class=\"color\">OFF <\/span>",
            "content_text": "SEASON ESSENTIALS!",
            "bannercolor_title1": "#ffffff",
            "bannercolor_title2": "#ffffff",
            "bannercolor_buttontext": "#ffffff",
            "bannercolor_buttontexthover": "#1fc0a0",
            "bannercolor_buttonbg": "#ffffff",
            "bannercolor_buttonbghover": "#1fc0a0"
          }
		},
        {
          "type": "item-block",
          "settings": {
            "title_weight": "font-medium",
            "title_text": "NEW",
            "content_text": "SEASON ESSENTIALS!",
            "bannercolor_title1": "#333333",
            "bannercolor_title2": "#333333",
            "bannercolor_buttontext": "#333333",
            "bannercolor_buttontexthover": "#1fc0a0",
            "bannercolor_buttonbg": "#333333",
            "bannercolor_buttonbghover": "#1fc0a0"
		  }
        },
        {
          "type": "item-block",
          "settings": {
            "title_weight": "font-medium",
            "title_text": "HATS",
            "content_weight": "font-medium",
            "content_text": "NEW COLLECTION",
            "bannercolor_title1": "#333333",
            "bannercolor_title2": "#333333",
            "bannercolor_buttontext": "#333333",
            "bannercolor_buttontexthover": "#1fc0a0",
            "bannercolor_buttonbg": "#1fc0a0",
            "bannercolor_buttonbghover": "#1fc0a0"
		  }
        },
        {
          "type": "item-block",
          "settings": {
            "position": "center",
            "button_design": "design2",
            "title_size": "font-size26",
            "title_weight": "font-medium",
            "title_text": "A GREAT SELECTION OF",
            "content_size": "font-size82",
            "content_weight": "font-bold",
            "content_text": "SUPERB BRANDS",
            "bannercolor_title1": "#ffffff",
            "bannercolor_title2": "#fffefe",
            "bannercolor_buttontext": "#ffffff",
            "bannercolor_buttontexthover": "#1fc0a0",
            "bannercolor_buttonbg": "#ffffff",
            "bannercolor_buttonbghover": "#ffffff"
		  }
        }
      ]
    }
  ]
}
{% endschema %}