<section class="content" data-section-id="{{ section.id }}">
  <div class="container">
    {% if section.blocks.size > 0 %}
    <!-- nav-select-item -->
    <ul class="nav-select-item">
      {% for block in section.blocks %}
      <li>
        <a href="{{ block.settings.link }}">
          <span class="icon-clothes icon-clothes-{{ block.settings.icon_number }}"></span>{{- block.settings.item_title -}}
        </a>
      </li>
      {% endfor %}
    </ul>
    <!-- /nav-select-item -->
    {% else %}
    <span style="display: flex; justify-content: center;">This section doesn’t currently include any content. Add content to this section using the sidebar.</span>
    {% endif %}

    {% if section.settings.show_help %}
    <div style="display: flex; justify-content: center; font-size: 20px; margin-top:20px;">Help With Icons</div>
    <div class="icons-box" style="display: flex; justify-content: center;">
      <span class="icon-clothes icon-clothes-01" style="font-size: 50px;"><span class="icon-number">1</span></span>
      <span class="icon-clothes icon-clothes-02" style="font-size: 50px;"><span class="icon-number">2</span></span>
      <span class="icon-clothes icon-clothes-03" style="font-size: 50px;"><span class="icon-number">3</span></span>
      <span class="icon-clothes icon-clothes-04" style="font-size: 50px;"><span class="icon-number">4</span></span>
      <span class="icon-clothes icon-clothes-05" style="font-size: 50px;"><span class="icon-number">5</span></span>
      <span class="icon-clothes icon-clothes-06" style="font-size: 50px;"><span class="icon-number">6</span></span>
      <span class="icon-clothes icon-clothes-07" style="font-size: 50px;"><span class="icon-number">7</span></span>
      <span class="icon-clothes icon-clothes-08" style="font-size: 50px;"><span class="icon-number">8</span></span>
      <span class="icon-clothes icon-clothes-09" style="font-size: 50px;"><span class="icon-number">9</span></span>
      <span class="icon-clothes icon-clothes-10" style="font-size: 50px;"><span class="icon-number">10</span></span>
    </div>
	{% endif %}

  </div>
</section>
{% if section.settings.show_background %}
<style>
  [data-section-id~="{{ section.id }}"] {
  background: {{ section.settings.color_bg }};
  padding: 60px 0 68px 0;
  {% unless section.settings.top_indent %}margin: 0;{% endunless %}
  }
</style>
{% endif %}

{% schema %}
{
  "name": "Icons list",
  "class": "index-section",
  "max_blocks": 40,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_help",
      "label": "Show Help",
      "default": false,
	  "info": "Show icons with number. Use only in admin panel."
    },
    {
      "type": "header",
      "content": "Background Color"
    },
    {
      "type": "checkbox",
      "id": "show_background",
      "label": "Set Background Color",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "top_indent",
      "label": "Top Indent",
      "default": true
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "Color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "icons_block",
      "name": "Item",
      "settings": [
		{
          "type": "select",
          "id": "icon_number",
          "label": "Icon Number",
          "default": "01",
          "options": [
            {
              "value": "01",
              "label": "1"
            },
            {
              "value": "02",
              "label": "2"
            },
            {
              "value": "03",
              "label": "3"
            },
            {
              "value": "04",
              "label": "4"
            },
            {
              "value": "05",
              "label": "5"
            },
            {
              "value": "06",
              "label": "6"
            },
            {
              "value": "07",
              "label": "7"
            },
            {
              "value": "08",
              "label": "8"
            },
            {
              "value": "09",
              "label": "9"
            },
            {
              "value": "10",
              "label": "10"
            }
          ]
        },
        {
          "type": "text",
          "id": "item_title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icons list",
      "category": "Collection",
      "blocks": [
        {
          "type": "icons_block",
          "settings": {
            "icon_number": "01"
		  }
        },
        {
          "type": "icons_block",
          "settings": {
            "icon_number": "02"
		  }
        },
        {
          "type": "icons_block",
          "settings": {
            "icon_number": "03"
		  }
        },
        {
          "type": "icons_block",
          "settings": {
            "icon_number": "04"
		  }
        },
        {
          "type": "icons_block",
          "settings": {
            "icon_number": "05"
		  }
        },
        {
          "type": "icons_block",
          "settings": {
            "icon_number": "06"
		  }
        },
        {
          "type": "icons_block",
          "settings": {
            "icon_number": "07"
		  }
        },
        {
          "type": "icons_block",
          "settings": {
            "icon_number": "08"
		  }
        },
        {
          "type": "icons_block",
          "settings": {
            "icon_number": "09"
		  }
        },
        {
          "type": "icons_block",
          "settings": {
            "icon_number": "10"
		  }
        }
      ]
    }
  ]
}
{% endschema %}