{% if section.settings.show_widget %}
{% if section.blocks.size > 0 %}
<div data-section-id="{{ section.id }}" data-section-type="testimonials-section">
  <div class="bannerAsid nav-dot hidden-sm hidden-xs sliderblog-js-{{ section.id }}" data-autoplay="{{ section.settings.module_autoplay }}" data-speed="{{ section.settings.delay_time }}" data-step="1">
    {% for block in section.blocks %}
    <div class="text-center">
      <a href="{{ block.settings.link }}">
        {% if block.settings.image != blank %}
        <img class="img-responsive-inline" src="{{ block.settings.image | img_url: 'large' }}" alt="{{ block.settings.image.alt }}">
        {% else %}
        <span class="editor-image" data-width="270" data-height="361" data-position="top"></span>
        {% endif %}
      </a>
    </div>
	{% endfor %}
  </div>
</div>
<div class="divider divider--lg hidden-xs hidden-sm"></div>
{% else %}
<span style="display: flex; justify-content: center;">This section doesn’t currently include any content. Add content to this section using the sidebar.</span>
{% endif %}

{% if section.settings.use_custom_color %}
<style>
  [data-section-id~="{{ section.id }}"] .nav-dot .slick-dots li button:hover:before, .nav-dot .slick-dots li button:focus:before {
    opacity: 1;
  }
  [data-section-id~="{{ section.id }}"] .nav-dot .slick-dots li button::before {
    color: {{ section.settings.color_title3 }};
  }
  
  [data-section-id~="{{ section.id }}"] .nav-dot .slick-dots li button:hover:before,
  [data-section-id~="{{ section.id }}"] .nav-dot .slick-dots li button:focus:before,
  [data-section-id~="{{ section.id }}"] .nav-dot .slick-dots li.slick-active button:before {
    color: {{ section.settings.color_title4 }};
  }
</style>
{% endif %}
{% endif %}

{% schema %}
{
  "name": "Aside Banners",
  "max_blocks": 9,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_widget",
      "label": "Show Widget",
      "default": true
    },
    {
      "type": "header",
      "content": "Autoplay"
    },
    {
      "type": "checkbox",
      "id": "module_autoplay",
      "label": "Auto-rotate slides",
      "default": false
    },
    {
      "type": "select",
      "id": "delay_time",
      "label": "Change slides every",
      "options": [
        { "value": "5000", "label": "5 seconds" },
        { "value": "6000", "label": "6 seconds" },
        { "value": "7000", "label": "7 seconds" },
        { "value": "8000", "label": "8 seconds" },
        { "value": "9000", "label": "9 seconds" },
        { "value": "10000", "label": "10 seconds" }
      ],
      "default": "7000"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "checkbox",
      "id": "use_custom_color",
      "label": "Use Custom Colors",
      "default": false
    },
    {
      "type": "color",
      "id": "color_title3",
      "label": "Arrows Base Color",
      "default": "#a5e6d9"
    },
    {
      "type": "color",
      "id": "color_title4",
      "label": "Arrows Active Color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "banner_item",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}